<%- include('./partials/head',{title}) %>

    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1>
            <%= movie.title %>
        </h1>
        <br>
        <p>RATING: <%= movie.rating %>
        </p>
        <p>AWARDS: <%= movie.awards %>
        </p>
        <p>LENGTH: <%= movie.length + ' min' %>
        </p>
        <p>RELEASE DATE: <%= movie.release_date %>
        </p>

        <form action="/movies/edit/<%= movie.id %>" method="GET">
            <button class="botonAgregar" type="submit" style="width: 30%; padding: 7px;">Editar</button>
            <button id="botonEliminar" type="submit" style="width: 30%; padding: 7px;"><a
                    href="/movies/delete/<%= movie.id %> ">Borrar</a></button>
            <a class="botonVolver" href="/movies">Listado de Películas</a>
        </form>
    </body>

    </html>